.App {
  text-align: center;
}

.wholeCard {
	display: inline-block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	border: medium;
	border-radius: 10px;
	width: 200px;
	height: 400px;
  min-width: 350px;
  margin: 10px;
	float: left;
	background-color: white;
  box-shadow: 3px 3px 3px #676767;
  padding: 0px;
  position:relative;
  text-align: center;
}
.wholeCardEdit {
	width: 400px !important;
}
.cardEdit {
    width: 10px;
    position: absolute;
    left: 20px;
    top: 10px;
	background-color: cornflowerblue;
}
.cardName {
	background-color: cornflowerblue;
	font-size: 28px;
	color: white;
	width: 100%;
	height: 100px;
	padding-top: 30px;
	border-radius: 10px 10px 0 0;
}
img.cardPicture {
	border-radius: 50%;
	padding: 4px 0 0 0;
}
.cardImage {
	border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 75px;
	width: 135px;
	height: 135px;
	background-color: white;		
}
.cardEmail {
	background-color: white;	
	padding-top: 100px;
	color: #aaa;	
}
.cardCell {
	background-color: white;
	padding-top: 20px;
	color: #aaa;	
}
.cardLocation {
	background-color: white;
	padding-top: 20px;
	color: #aaa;	
}
.searchContainer {
	width: 100%;
}
.inputSearch {
	width: 50%;
	padding: 3px;
}

.btn {
  background-color: blue;
  color: white;
  width: 100px;
  min-width: 100px;
}

.btn:hover {
  background-color: red;
}

.note {
  font-style: italic;
  font-size: 70%;
  padding-left: 3px;
}

.label {
	float: left;
  font-weight: bold;
  width: 60px;
  padding-right: 3px;
}

.searchContainer, .sortContainer {
  margin-bottom: 3px;
}